/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  font-family: sans-serif;

  height: 100vh;

  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.explorer-window {
  width: 100vw;
  height: 100vh;

  background-color: rgb(31, 31, 31);
  color: white !important;
}

.explorer-header {
  height: 10%;
  background-color: rgb(51, 51, 51);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.explorer-header button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: outline 0.3s ease-in-out;
}

.explorer-header button:active {
  outline: 4px solid white;
}

.explorer-header input {
  height: 40px;
  width: 60%;
  border-radius: 8px;
  font-size: 16px;
  padding: 2px 12px;
}

.explorer {
  height: 90%;
  padding: 12px;
  overflow-y: auto;
}

.explorer-grid {
  display: flex;
  gap: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.explorer-list {
  display: flex;
  gap: 0px;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.file {
  cursor: pointer;
}

.explorer-grid .file {
  border: 1px solid #cccccc25;
  border-radius: 8px;

  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  padding-top: 12px;
  gap: 12px;
  text-overflow: ellipsis;
}

.explorer-grid .file-icon {
  font-size: 48px;
}

.explorer-grid .file-name {
  text-align: center;
  text-overflow: ellipsis;
  width: 92px;
  max-width: 92px;
  overflow: hidden;
  white-space: nowrap;
}

.explorer-list .file {
  border-bottom: 1px solid #cccccc25;

  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 12px;
  text-overflow: ellipsis;
}

.explorer-list .file-icon {
  font-size: 12px;
}

.explorer-list .file-name {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
